.remove-tab-button {
    margin-right: 5px;
    border-radius: 20%;
    padding: 2px 5px;
    margin-right: 20px;
}

.remove-tab-button:hover {
    cursor: pointer;
    color: white;
    background: lightgrey;
}